@import url(fonts.css);

@mixin border {
  border: 2px solid white;
  box-sizing: padding-box;
}

@mixin Font {
    font-family: Helvetica, Myriad Pro, Arial;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

@mixin animFont {
    animation-duration: 3s;
    animation-name: textAnimation;
    animation-fill-mode: forwards;  
}

.a_text {
    @include animFont;
    @include Font;
  }

h1 {
  @include Font;  
}

h2 {
    font-size:20px;
    text-transform: uppercase;
}

p {
  @include Font;
  text-align: left;  
}

h1, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; 
}

alt {
  @include Font;
}

#stripe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(127deg, #e66465, #9198e5);
    height:50px;
    opacity: 0;
    animation-name: stripe;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: relative;
    z-index: 2;
    transition: 0.5s ease-out;
}

#more {
  position: relative;
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px 10px;
  opacity: 0.7;
  background: none;
  outline: none;
  &:hover {
    background-color: rgba(255,255,255,0.5);
  }
} 

.projects-container {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  height: 60vh;
  width: 90vw;
  animation-name: opacityAnimation;
  animation-duration: 2s;
  position: relative;
  @include border;

    .header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
      width: 100%;
      position: relative; 
    }

    .project {
      display: flex;
      justify-content: space-around;
      height: 250px;
      width: 100%;
      position: relative;

      .preview-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(10,10,10,0.3);
        width: 410px;

        .preview {
          border: 2px solid white;
          height: 80%;
          width: 89%;
          img {
            width: 100%;
            height: 100%; 
          }
        }
      }

      .description-wrap {
        flex-direction: column;
        justify-content: flex-start;
        width: 65%;

        .project-header {
            background: white;
            width: 100%;
            height: 20%;
            opacity: 0.8;
            h1 {
              padding-top: 5px;
            }
        }

        .description {
          background-color: rgba(255, 255, 255, 1);
          width: 100%;
          height: 80%;
        }

        .description p {
          padding: 20px 20px;
          text-transform: none;
        }
      }
    }
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes textAnimation {
    0% {
        opacity:0;
        margin-top: 0px;

    }
    100%{
        opacity:1;
        margin-top: 50px;
    }
}

@keyframes stripe {
    0% {
        opacity: 0;
        width:1px;

    }
    80%{
        opacity:0.8;
        width:100%;
    }
    100%{
        opacity:0.9;
        animation-name: fill;
        animation-duration: 3s;
    }
}

@keyframes opacityAnimation {
    0%{
        opacity: 0; 
    }
    100%{
        opacity: 1; 
    }
}

@for $i from 1 through 70 {
  @keyframes particle-animation-#{$i} {
    100% {
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
         }  
    }
  
  .particle:nth-child(#{$i}) {
      animation: particle-animation-#{$i} 25s infinite;
      animation-delay: -$i * .2s;
      $size: random(15) + 7 + px;
      height: $size;
      width: $size;
      background: hsl(random(360), 100%, 50%);
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh),               (random(100) * 1px));
    }
}

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: random(1);
  &:hover {
    
  }
}



@media only screen and (max-width: 320px) {
  #stripe {
    width: 100%;
  }
}

