@import url(fonts.css);
h1, h2 {
  font-family: Helvetica, Myriad Pro, Arial;
  font-weight: 100;
  text-align: center;
  line-height: 0;
  animation-duration: 3s;
  animation-name: textAnimation;
  animation-fill-mode: forwards;
  z-index: 3;
  opacity: 0.99; }

strong {
  font-family: Helvetica, Arial;
  font-weight: 900; }

h2 {
  font-size: 20px;
  text-transform: uppercase; }

#stripe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(127deg, #e66465, #9198e5);
  height: 50px;
  opacity: 0;
  animation-name: stripe;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  position: relative;
  z-index: 2; }

#more {
  position: relative;
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 10px 10px;
  opacity: 0.7;
  background: none;
  outline: none; }
  #more:hover {
    background-color: rgba(255, 255, 255, 0.5); }

.projects {
  display: none;
  justify-content: space-around;
  align-items: center;
  background: red;
  height: 500px;
  width: 500px; }
  .projects:hover {
    background: orange;
    opacity: 0.8; }

img {
  visibility: hidden;
  width: 100%; }

.particles-container {
  position: absolute;
  top: 0;
  left: 0; }

@keyframes textAnimation {
  0% {
    opacity: 0;
    margin-top: 0px; }
  100% {
    opacity: 1;
    margin-top: 50px; } }
@keyframes stripe {
  0% {
    opacity: 0;
    width: 1px; }
  80% {
    opacity: 0.8;
    width: 100%; }
  100% {
    opacity: 0.9;
    animation-name: fill;
    animation-duration: 3s; } }
@keyframes fill {
  0% {
    height: 150px; }
  100% {
    height: 500px; } }
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(8vw, 47vh, 12px); } }
.particle:nth-child(1) {
  animation: particle-animation-1 25s infinite;
  animation-delay: -0.2s;
  height: 20px;
  width: 20px;
  background: #ff003c;
  transform: translate3d(57vw, 38vh, 42px); }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(14vw, 65vh, 65px); } }
.particle:nth-child(2) {
  animation: particle-animation-2 25s infinite;
  animation-delay: -0.4s;
  height: 21px;
  width: 21px;
  background: #ff001a;
  transform: translate3d(10vw, 58vh, 27px); }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(1vw, 79vh, 53px); } }
.particle:nth-child(3) {
  animation: particle-animation-3 25s infinite;
  animation-delay: -0.6s;
  height: 11px;
  width: 11px;
  background: #ffaa00;
  transform: translate3d(56vw, 85vh, 50px); }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(87vw, 30vh, 36px); } }
.particle:nth-child(4) {
  animation: particle-animation-4 25s infinite;
  animation-delay: -0.8s;
  height: 12px;
  width: 12px;
  background: #00ffb7;
  transform: translate3d(76vw, 26vh, 13px); }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(15vw, 70vh, 84px); } }
.particle:nth-child(5) {
  animation: particle-animation-5 25s infinite;
  animation-delay: -1s;
  height: 18px;
  width: 18px;
  background: #6f00ff;
  transform: translate3d(44vw, 86vh, 61px); }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(59vw, 11vh, 72px); } }
.particle:nth-child(6) {
  animation: particle-animation-6 25s infinite;
  animation-delay: -1.2s;
  height: 12px;
  width: 12px;
  background: #00d9ff;
  transform: translate3d(79vw, 52vh, 43px); }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(88vw, 80vh, 69px); } }
.particle:nth-child(7) {
  animation: particle-animation-7 25s infinite;
  animation-delay: -1.4s;
  height: 13px;
  width: 13px;
  background: #9500ff;
  transform: translate3d(20vw, 42vh, 16px); }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(58vw, 8vh, 100px); } }
.particle:nth-child(8) {
  animation: particle-animation-8 25s infinite;
  animation-delay: -1.6s;
  height: 8px;
  width: 8px;
  background: #1500ff;
  transform: translate3d(38vw, 70vh, 59px); }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(32vw, 16vh, 100px); } }
.particle:nth-child(9) {
  animation: particle-animation-9 25s infinite;
  animation-delay: -1.8s;
  height: 11px;
  width: 11px;
  background: #0055ff;
  transform: translate3d(71vw, 68vh, 22px); }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(38vw, 84vh, 6px); } }
.particle:nth-child(10) {
  animation: particle-animation-10 25s infinite;
  animation-delay: -2s;
  height: 12px;
  width: 12px;
  background: #00ffcc;
  transform: translate3d(71vw, 60vh, 57px); }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(20vw, 53vh, 43px); } }
.particle:nth-child(11) {
  animation: particle-animation-11 25s infinite;
  animation-delay: -2.2s;
  height: 21px;
  width: 21px;
  background: #00ff26;
  transform: translate3d(90vw, 16vh, 86px); }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(2vw, 1vh, 44px); } }
.particle:nth-child(12) {
  animation: particle-animation-12 25s infinite;
  animation-delay: -2.4s;
  height: 10px;
  width: 10px;
  background: #ff1e00;
  transform: translate3d(58vw, 7vh, 72px); }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(40vw, 86vh, 48px); } }
.particle:nth-child(13) {
  animation: particle-animation-13 25s infinite;
  animation-delay: -2.6s;
  height: 10px;
  width: 10px;
  background: #09ff00;
  transform: translate3d(22vw, 20vh, 42px); }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(13vw, 28vh, 78px); } }
.particle:nth-child(14) {
  animation: particle-animation-14 25s infinite;
  animation-delay: -2.8s;
  height: 13px;
  width: 13px;
  background: #2200ff;
  transform: translate3d(28vw, 3vh, 1px); }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(31vw, 50vh, 33px); } }
.particle:nth-child(15) {
  animation: particle-animation-15 25s infinite;
  animation-delay: -3s;
  height: 19px;
  width: 19px;
  background: #ff00aa;
  transform: translate3d(24vw, 70vh, 46px); }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(19vw, 73vh, 81px); } }
.particle:nth-child(16) {
  animation: particle-animation-16 25s infinite;
  animation-delay: -3.2s;
  height: 17px;
  width: 17px;
  background: #eeff00;
  transform: translate3d(17vw, 17vh, 100px); }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(14vw, 44vh, 60px); } }
.particle:nth-child(17) {
  animation: particle-animation-17 25s infinite;
  animation-delay: -3.4s;
  height: 10px;
  width: 10px;
  background: #ffe600;
  transform: translate3d(75vw, 28vh, 83px); }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(12vw, 69vh, 79px); } }
.particle:nth-child(18) {
  animation: particle-animation-18 25s infinite;
  animation-delay: -3.6s;
  height: 21px;
  width: 21px;
  background: #00eeff;
  transform: translate3d(29vw, 34vh, 45px); }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(45vw, 44vh, 10px); } }
.particle:nth-child(19) {
  animation: particle-animation-19 25s infinite;
  animation-delay: -3.8s;
  height: 9px;
  width: 9px;
  background: #0004ff;
  transform: translate3d(54vw, 47vh, 66px); }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(17vw, 35vh, 48px); } }
.particle:nth-child(20) {
  animation: particle-animation-20 25s infinite;
  animation-delay: -4s;
  height: 13px;
  width: 13px;
  background: #00ff26;
  transform: translate3d(79vw, 89vh, 64px); }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(67vw, 62vh, 12px); } }
.particle:nth-child(21) {
  animation: particle-animation-21 25s infinite;
  animation-delay: -4.2s;
  height: 20px;
  width: 20px;
  background: #00ffbb;
  transform: translate3d(78vw, 88vh, 14px); }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(33vw, 44vh, 5px); } }
.particle:nth-child(22) {
  animation: particle-animation-22 25s infinite;
  animation-delay: -4.4s;
  height: 18px;
  width: 18px;
  background: #ff0044;
  transform: translate3d(14vw, 42vh, 7px); }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(4vw, 56vh, 11px); } }
.particle:nth-child(23) {
  animation: particle-animation-23 25s infinite;
  animation-delay: -4.6s;
  height: 15px;
  width: 15px;
  background: #44ff00;
  transform: translate3d(71vw, 23vh, 20px); }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(78vw, 40vh, 2px); } }
.particle:nth-child(24) {
  animation: particle-animation-24 25s infinite;
  animation-delay: -4.8s;
  height: 11px;
  width: 11px;
  background: #003cff;
  transform: translate3d(72vw, 49vh, 62px); }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(40vw, 5vh, 33px); } }
.particle:nth-child(25) {
  animation: particle-animation-25 25s infinite;
  animation-delay: -5s;
  height: 19px;
  width: 19px;
  background: #00ffea;
  transform: translate3d(84vw, 85vh, 16px); }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(63vw, 38vh, 85px); } }
.particle:nth-child(26) {
  animation: particle-animation-26 25s infinite;
  animation-delay: -5.2s;
  height: 12px;
  width: 12px;
  background: #d900ff;
  transform: translate3d(32vw, 56vh, 67px); }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(32vw, 29vh, 16px); } }
.particle:nth-child(27) {
  animation: particle-animation-27 25s infinite;
  animation-delay: -5.4s;
  height: 12px;
  width: 12px;
  background: #00ffbf;
  transform: translate3d(64vw, 5vh, 65px); }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(33vw, 89vh, 38px); } }
.particle:nth-child(28) {
  animation: particle-animation-28 25s infinite;
  animation-delay: -5.6s;
  height: 13px;
  width: 13px;
  background: #0dff00;
  transform: translate3d(56vw, 53vh, 28px); }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(3vw, 67vh, 53px); } }
.particle:nth-child(29) {
  animation: particle-animation-29 25s infinite;
  animation-delay: -5.8s;
  height: 13px;
  width: 13px;
  background: #00ff88;
  transform: translate3d(54vw, 23vh, 65px); }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(40vw, 14vh, 46px); } }
.particle:nth-child(30) {
  animation: particle-animation-30 25s infinite;
  animation-delay: -6s;
  height: 10px;
  width: 10px;
  background: #3c00ff;
  transform: translate3d(57vw, 5vh, 77px); }

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(65vw, 83vh, 48px); } }
.particle:nth-child(31) {
  animation: particle-animation-31 25s infinite;
  animation-delay: -6.2s;
  height: 10px;
  width: 10px;
  background: #ff0088;
  transform: translate3d(1vw, 72vh, 65px); }

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(11vw, 85vh, 89px); } }
.particle:nth-child(32) {
  animation: particle-animation-32 25s infinite;
  animation-delay: -6.4s;
  height: 15px;
  width: 15px;
  background: #0099ff;
  transform: translate3d(8vw, 7vh, 74px); }

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(66vw, 63vh, 46px); } }
.particle:nth-child(33) {
  animation: particle-animation-33 25s infinite;
  animation-delay: -6.6s;
  height: 21px;
  width: 21px;
  background: #ff002f;
  transform: translate3d(1vw, 76vh, 82px); }

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(42vw, 57vh, 18px); } }
.particle:nth-child(34) {
  animation: particle-animation-34 25s infinite;
  animation-delay: -6.8s;
  height: 14px;
  width: 14px;
  background: #1e00ff;
  transform: translate3d(28vw, 3vh, 28px); }

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(33vw, 90vh, 90px); } }
.particle:nth-child(35) {
  animation: particle-animation-35 25s infinite;
  animation-delay: -7s;
  height: 21px;
  width: 21px;
  background: #00a6ff;
  transform: translate3d(77vw, 25vh, 80px); }

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(76vw, 15vh, 81px); } }
.particle:nth-child(36) {
  animation: particle-animation-36 25s infinite;
  animation-delay: -7.2s;
  height: 13px;
  width: 13px;
  background: #59ff00;
  transform: translate3d(8vw, 53vh, 64px); }

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(9vw, 9vh, 14px); } }
.particle:nth-child(37) {
  animation: particle-animation-37 25s infinite;
  animation-delay: -7.4s;
  height: 14px;
  width: 14px;
  background: #ff0055;
  transform: translate3d(73vw, 82vh, 67px); }

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(15vw, 38vh, 42px); } }
.particle:nth-child(38) {
  animation: particle-animation-38 25s infinite;
  animation-delay: -7.6s;
  height: 17px;
  width: 17px;
  background: #f700ff;
  transform: translate3d(86vw, 20vh, 53px); }

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(66vw, 37vh, 98px); } }
.particle:nth-child(39) {
  animation: particle-animation-39 25s infinite;
  animation-delay: -7.8s;
  height: 22px;
  width: 22px;
  background: #d5ff00;
  transform: translate3d(72vw, 24vh, 94px); }

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(16vw, 7vh, 7px); } }
.particle:nth-child(40) {
  animation: particle-animation-40 25s infinite;
  animation-delay: -8s;
  height: 15px;
  width: 15px;
  background: #ff001a;
  transform: translate3d(57vw, 88vh, 5px); }

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(48vw, 54vh, 91px); } }
.particle:nth-child(41) {
  animation: particle-animation-41 25s infinite;
  animation-delay: -8.2s;
  height: 21px;
  width: 21px;
  background: #5e00ff;
  transform: translate3d(73vw, 72vh, 9px); }

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(74vw, 32vh, 48px); } }
.particle:nth-child(42) {
  animation: particle-animation-42 25s infinite;
  animation-delay: -8.4s;
  height: 9px;
  width: 9px;
  background: #0048ff;
  transform: translate3d(43vw, 31vh, 19px); }

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(57vw, 78vh, 59px); } }
.particle:nth-child(43) {
  animation: particle-animation-43 25s infinite;
  animation-delay: -8.6s;
  height: 14px;
  width: 14px;
  background: #00aeff;
  transform: translate3d(38vw, 50vh, 49px); }

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(87vw, 81vh, 98px); } }
.particle:nth-child(44) {
  animation: particle-animation-44 25s infinite;
  animation-delay: -8.8s;
  height: 22px;
  width: 22px;
  background: #ff00aa;
  transform: translate3d(9vw, 78vh, 64px); }

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(84vw, 73vh, 93px); } }
.particle:nth-child(45) {
  animation: particle-animation-45 25s infinite;
  animation-delay: -9s;
  height: 8px;
  width: 8px;
  background: #00d5ff;
  transform: translate3d(89vw, 66vh, 57px); }

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(87vw, 76vh, 82px); } }
.particle:nth-child(46) {
  animation: particle-animation-46 25s infinite;
  animation-delay: -9.2s;
  height: 12px;
  width: 12px;
  background: #0059ff;
  transform: translate3d(23vw, 63vh, 96px); }

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(42vw, 68vh, 68px); } }
.particle:nth-child(47) {
  animation: particle-animation-47 25s infinite;
  animation-delay: -9.4s;
  height: 22px;
  width: 22px;
  background: #ff1e00;
  transform: translate3d(69vw, 27vh, 100px); }

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(17vw, 63vh, 64px); } }
.particle:nth-child(48) {
  animation: particle-animation-48 25s infinite;
  animation-delay: -9.6s;
  height: 21px;
  width: 21px;
  background: #00ffa2;
  transform: translate3d(17vw, 25vh, 74px); }

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(31vw, 11vh, 73px); } }
.particle:nth-child(49) {
  animation: particle-animation-49 25s infinite;
  animation-delay: -9.8s;
  height: 13px;
  width: 13px;
  background: #ff0073;
  transform: translate3d(30vw, 29vh, 15px); }

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(32vw, 43vh, 66px); } }
.particle:nth-child(50) {
  animation: particle-animation-50 25s infinite;
  animation-delay: -10s;
  height: 21px;
  width: 21px;
  background: #00ff26;
  transform: translate3d(25vw, 1vh, 100px); }

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(39vw, 40vh, 28px); } }
.particle:nth-child(51) {
  animation: particle-animation-51 25s infinite;
  animation-delay: -10.2s;
  height: 12px;
  width: 12px;
  background: #f200ff;
  transform: translate3d(39vw, 50vh, 17px); }

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(27vw, 36vh, 28px); } }
.particle:nth-child(52) {
  animation: particle-animation-52 25s infinite;
  animation-delay: -10.4s;
  height: 10px;
  width: 10px;
  background: #00d5ff;
  transform: translate3d(28vw, 5vh, 33px); }

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(56vw, 22vh, 57px); } }
.particle:nth-child(53) {
  animation: particle-animation-53 25s infinite;
  animation-delay: -10.6s;
  height: 12px;
  width: 12px;
  background: #33ff00;
  transform: translate3d(27vw, 80vh, 15px); }

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(82vw, 70vh, 70px); } }
.particle:nth-child(54) {
  animation: particle-animation-54 25s infinite;
  animation-delay: -10.8s;
  height: 13px;
  width: 13px;
  background: #ff6a00;
  transform: translate3d(16vw, 22vh, 79px); }

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(1vw, 82vh, 92px); } }
.particle:nth-child(55) {
  animation: particle-animation-55 25s infinite;
  animation-delay: -11s;
  height: 21px;
  width: 21px;
  background: #ff4000;
  transform: translate3d(69vw, 22vh, 43px); }

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(61vw, 14vh, 67px); } }
.particle:nth-child(56) {
  animation: particle-animation-56 25s infinite;
  animation-delay: -11.2s;
  height: 17px;
  width: 17px;
  background: deepskyblue;
  transform: translate3d(9vw, 82vh, 32px); }

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(78vw, 73vh, 55px); } }
.particle:nth-child(57) {
  animation: particle-animation-57 25s infinite;
  animation-delay: -11.4s;
  height: 20px;
  width: 20px;
  background: #00ffee;
  transform: translate3d(81vw, 90vh, 24px); }

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(12vw, 80vh, 16px); } }
.particle:nth-child(58) {
  animation: particle-animation-58 25s infinite;
  animation-delay: -11.6s;
  height: 20px;
  width: 20px;
  background: #ff0055;
  transform: translate3d(75vw, 57vh, 29px); }

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(10vw, 62vh, 16px); } }
.particle:nth-child(59) {
  animation: particle-animation-59 25s infinite;
  animation-delay: -11.8s;
  height: 8px;
  width: 8px;
  background: #00ffbf;
  transform: translate3d(41vw, 42vh, 76px); }

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(19vw, 15vh, 68px); } }
.particle:nth-child(60) {
  animation: particle-animation-60 25s infinite;
  animation-delay: -12s;
  height: 15px;
  width: 15px;
  background: #fbff00;
  transform: translate3d(9vw, 33vh, 17px); }

@keyframes particle-animation-61 {
  100% {
    transform: translate3d(41vw, 50vh, 87px); } }
.particle:nth-child(61) {
  animation: particle-animation-61 25s infinite;
  animation-delay: -12.2s;
  height: 21px;
  width: 21px;
  background: #4400ff;
  transform: translate3d(42vw, 18vh, 19px); }

@keyframes particle-animation-62 {
  100% {
    transform: translate3d(87vw, 74vh, 4px); } }
.particle:nth-child(62) {
  animation: particle-animation-62 25s infinite;
  animation-delay: -12.4s;
  height: 13px;
  width: 13px;
  background: #ff0037;
  transform: translate3d(2vw, 44vh, 33px); }

@keyframes particle-animation-63 {
  100% {
    transform: translate3d(81vw, 18vh, 54px); } }
.particle:nth-child(63) {
  animation: particle-animation-63 25s infinite;
  animation-delay: -12.6s;
  height: 12px;
  width: 12px;
  background: #8400ff;
  transform: translate3d(31vw, 49vh, 99px); }

@keyframes particle-animation-64 {
  100% {
    transform: translate3d(40vw, 70vh, 84px); } }
.particle:nth-child(64) {
  animation: particle-animation-64 25s infinite;
  animation-delay: -12.8s;
  height: 13px;
  width: 13px;
  background: #00ff0d;
  transform: translate3d(1vw, 56vh, 94px); }

@keyframes particle-animation-65 {
  100% {
    transform: translate3d(90vw, 5vh, 26px); } }
.particle:nth-child(65) {
  animation: particle-animation-65 25s infinite;
  animation-delay: -13s;
  height: 22px;
  width: 22px;
  background: #5500ff;
  transform: translate3d(59vw, 46vh, 4px); }

@keyframes particle-animation-66 {
  100% {
    transform: translate3d(36vw, 43vh, 3px); } }
.particle:nth-child(66) {
  animation: particle-animation-66 25s infinite;
  animation-delay: -13.2s;
  height: 15px;
  width: 15px;
  background: #00f2ff;
  transform: translate3d(49vw, 56vh, 70px); }

@keyframes particle-animation-67 {
  100% {
    transform: translate3d(4vw, 16vh, 63px); } }
.particle:nth-child(67) {
  animation: particle-animation-67 25s infinite;
  animation-delay: -13.4s;
  height: 14px;
  width: 14px;
  background: #00fbff;
  transform: translate3d(30vw, 79vh, 3px); }

@keyframes particle-animation-68 {
  100% {
    transform: translate3d(11vw, 70vh, 41px); } }
.particle:nth-child(68) {
  animation: particle-animation-68 25s infinite;
  animation-delay: -13.6s;
  height: 11px;
  width: 11px;
  background: darkorange;
  transform: translate3d(52vw, 40vh, 27px); }

@keyframes particle-animation-69 {
  100% {
    transform: translate3d(39vw, 35vh, 65px); } }
.particle:nth-child(69) {
  animation: particle-animation-69 25s infinite;
  animation-delay: -13.8s;
  height: 15px;
  width: 15px;
  background: #002bff;
  transform: translate3d(48vw, 8vh, 44px); }

@keyframes particle-animation-70 {
  100% {
    transform: translate3d(28vw, 2vh, 60px); } }
.particle:nth-child(70) {
  animation: particle-animation-70 25s infinite;
  animation-delay: -14s;
  height: 21px;
  width: 21px;
  background: #ff0037;
  transform: translate3d(35vw, 73vh, 62px); }

.particle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8; }

@media only screen and (max-width: 320px) {
  #stripe {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
